html,body{
background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(131, 99, 161) 0%, rgb(116, 168, 195) 100%) repeat scroll 0% 0%;
background-size: 100%;
background-repeat: no-repeat;
height: 100%;
}

.container{
height: 90%;
align-content: center;
}

.card{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.nav-link {
    color: white;
}

/* we could have also used !important in .navbar for the same effect! */
.bg-white2 {
    background-color: rgb(0, 0, 0);
    opacity: 70%
}

.my-sm-0 {
    color: black;
    border: black;
    background-color: rgb(149, 248, 255);
}

.card-header h3{
color: white;
text-align: center;
margin-top: 20px;
}

.input-group {
    background-color:rgb(149, 248, 255)
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #5dfaff;
width: 350px;
margin-top: 8px;
}

.login_btn:hover{
color: black;
background-color: rgb(149, 248, 255);
}